<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Font.Awesome" version="5.2.0" targetFramework="net461" />
  <package id="Font.Awesome.Sass" version="5.2.0" targetFramework="net461" />
  <package id="font-awesome" version="4.7.0" targetFramework="net461" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
</packages>